[SddmGreeterTheme]
Name=Suave Dark
Description=Suave Dark
Author=Mark Whittaker
Copyright=
License=GPL3
Type=sddm-theme
Version=1.0
Website=https://www.pling.com/u/phob1an
Screenshot=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=phobian@tutanota.com
Theme-Id=suavedark
Theme-API=2.0
