layout {

    focus-ring {
        active-color   "#c5f35a"
        inactive-color "#12140b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c5f35a"
        inactive-color "#12140b"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c5f35a"
        inactive-color "#aad640"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c5f35a80"
    }
}

recent-windows {
    highlight {
        active-color "#c5f35a"
        urgent-color "#ffb4ab"
    }
}
