layout {

    focus-ring {
        active-color   "#bac3ff"
        inactive-color "#131317"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bac3ff"
        inactive-color "#131317"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#bac3ff"
        inactive-color "#97a1e3"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bac3ff80"
    }
}

recent-windows {
    highlight {
        active-color "#bac3ff"
        urgent-color "#ffb4ab"
    }
}
